:root {
  font-size: 16px;
  --custom-white: #fbf3f2;
  --custom-orange: #fa991c;
  --custom-dark-orange: #fe7235;
  --custom-teal: #1c768f;
  --custom-dark-teal: #032539;
  --space-xl: 3rem;
  --space-lg: 2rem;
  --space-md: 1.25rem;
  --space-sm: 0.75rem;
  --radius: 0.625rem;
  --font-lg: clamp(1.5rem, 2vw, 2rem);
  --font-md: 1.25rem;
  --font-sm: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body,
html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--custom-teal);
  color: var(--custom-white);

  height: 100dvh;
  width: 100dvw;

}

body > * {
  padding: 2%;
}

.header {
  color: var(--custom-orange);
  font-weight: 900;
  font-size: var(--font-lg);

  text-shadow: 4px 4px 2px var(--custom-dark-teal);
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  color: var(--custom-white);
  text-shadow: 2px 2px 2px var(--custom-dark-teal);
  font-size: var(--font-sm);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-shadow: 2px 2px var(--custom-dark-teal);
  background-color: var(--custom-orange);
  color: var(--custom-dark-teal);
  font-size: var(--font-md);
  font-weight: 300;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
  transition: background-color 0.1s ease, transform 0.3s ease;
  width: 100%;
  max-width: 500px;
}

.btn:hover {
  color: var(--custom-white);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
  background-color: var(--custom-dark-orange);
  color: var(--custom-white);
}

#resume,
#qa,
#dev {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

/* #resume {} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Media query per gestire visualizzazione mobile */

@media (max-width: 600px) {
  .header {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
  }

  .projects-container {
    align-items: flex-start;
  }

  .btn {
    font-size: var(--font-sm);
  }

  #resume,
  #qa,
  #dev{
    flex-direction: column;
    align-items: flex-start;
    /* da row a column su mobile */
    gap: var(--space-sm);
    /* riduce spazio tra elementi */
  }
}